<div class="main__container">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-6 col-md-6 col-sm-6 col-xs-6">
                        <button type="button" class="btn" id="linkRegistrarIngresoEmpleado" routerLink="./registrar" routerLinkActive="active">Registrar ingreso</button>
                    </div>
                    <div class="col-6 col-md-6 col-sm-6 col-xs-6">
                        <button type="button" class="btn" id="linkListarIngresoEmpleado" routerLink="./listar" routerLinkActive="active">Listar ingresos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>