.main__container {
    min-height: 92vh;
    height: 100%;
    width: 100%;
    padding: 10px 15px 10px 15px;
    background-color: #eff2f5;
}

.card {
    border: none;
    background-color: #eff2f5;
    text-align: center;
}

.mat-form-field {
    font-size: 18px;
    width: 50%;
    margin-left: 50%;
}

.table__container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-header-cell {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

th {
    margin-left: 10%;
    padding-right: 20%;
    background: #5590C3;
    color: white;
}

td {
    background: #ffffff;
}

.mat-cell {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

th.mat-column-position,
td.mat-column-position {
    padding-left: 8px;
}

.paginator {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #dbeef4;
    width: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #5590C3 !important;
}

::ng-deep.mat-form-field-underline {
    background-color: #5590C3 !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: #5590C3 !important;
}